{% extends "layout.html" %}

{% block title %}
LOL app
{% endblock %}

{% block body %}
<h1>Win or Lose</h1>
<form action="{{ url_for('get_data') }}" method="POST">
    Summoner Name: <input name="name" id="summonerName" type="text"/>
    <br/>
    Region:
    <select name="region">
        <option value="NA">North America</option>
        <option value="EUW">Europe West</option>
        <option value="EUN">Europe Nordic East</option>
        <option value="KR">Korea</option>
    </select>
    <br/>
    <input type="submit" id="search" value="GO"/>
</form>

{% endblock %}