<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <script src="https://use.fontawesome.com/5a5fd64e5c.js"></script>
    <!-- Optional theme -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{
      url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/summoner.css') }}">
    <link rel="shortcut icon" type="image/png" href="/static/imgs/orb-icon-16.png" class="rounded-circle"/>
    <title>Scryer's Analytics</title>
  </head>
  <body background="/static/imgs/background.jpg">
        <nav class="navbar navbar-toggleable-md fixed-top navbar-light bg-faded">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">
              <img src="/static/imgs/orb.png" width="30" height="30" alt="scrying-orb-icon" class="rounded-circle">
              Scryer's Analytics
            </a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sideSelection.html">Team Stats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="allChamps.html">Champ Stats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="faq.html">FAQ</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container">
            <div id="landing">
                <div id="title">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for message in messages %}
                              <li><h1 id="invalidName">{{ message }}</h1></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    <h1 style="color:white">Scryer's Analytics</h1>
                </div>
                <form id="search-form"  class="my-2 my-lg-0" action="{{ url_for('get_data') }}" method="POST">
                    <div class="input-group">
                        <input type="text" class="form-control mr-sm-2" name="name" maxlength="16" id="main-search" list="main-datalist" size="32" placeholder="Summoner or Champ name..." autocomplete="off">
                        <datalist id="main-datalist"></datalist>
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </div>
                    <br/>
                    <div class="col-md-12">
                        <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary active">
                            <input type="radio" name="region" id="option1" autocomplete="off" value="NA" checked>NA
                          </label>
                          <label class="btn btn-primary">
                            <input type="radio" name="region" id="option2" autocomplete="off" value="EUW">EUW
                          </label>
                          <label class="btn btn-primary">
                            <input type="radio" name="region" id="option2" autocomplete="off" value="EUNE">EUNE
                          </label>
                          <label class="btn btn-primary">
                            <input type="radio" name="region" id="option3" autocomplete="off" value="KR">KR
                          </label>
                        </div>
                    </div>
                    <!--
                    <div class="form-group row">
                        <label class="col-xs-6 col-md-4">Champion</label>
                        <div class="col-xs-12 col-sm-6 col-md-8">
                            <input name="name" class="form-control" id="champName" maxlength="16" size="16" type="text"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-6 col-md-4 col-form-label">Tier</label>
                        <div class="col-xs-12 col-sm-6 col-md-8">
                            <select id="rankTier" name="rankTier" class="form-control">
                                <option value="all">All</option>
                                <option value="diaUp">Diamond+</option>
                                <option value="plat">Plat</option>
                                <option value="gold">Gold</option>
                                <option value="silver">Silver</option>
                                <option value="bronze">Bronze</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-6 col-md-4 col-form-label">Region</label>
                        <div class="col-xs-12 col-sm-6 col-md-8">
                            <select id="region" name="region" class="form-control">
                                <option value="NA">North America</option>
                                <option value="EUW">Europe West</option>
                                <option value="EUN">Europe Nordic East</option>
                                <option value="KR">Korea</option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="mx-auto text-center">
                        <input type="submit" class="btn btn-lg btn-block btn-primary" id="search" value="GO"/>
                    </div>
                    -->
                </form>
            </div>
            <div class="row" id="opening-tables">
                {% if best_champs %}
                    <div class="col table-wrapper" style="border-right: 1.5px solid black;">
                        <table class="table table-hover table-sm">
                          <caption class="table-title">Best performing Champions</caption>
                          <thead class="thead-inverse">
                            <tr>
                              <th>Role</th>
                              <th>Champ</th>
                              <th>Rating</th>
                              <th>Winrate</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for champ,stats in best_champs.items() %}
                                <tr>
                                    <td>{{ stats["role"] }}</td>
                                    <td>{{ stats["name"] }}</td>
                                    {% if stats["rating"] > 0.8 %}
                                        <td class="good">{{ stats["rating"] }}</td>
                                    {% else %}
                                        <td class="bad">{{ stats["rating"] }}</td>
                                    {% endif %}
                                    {% if stats["wr"] >= 50 %}
                                        <td class="good">{{ stats["wr"] }}</td>
                                    {% else %}
                                        <td class="bad">{{ stats["wr"] }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if best_players %}
                    <div class="col table-wrapper" style="border-right: 1.5px solid black;">
                        <table class="table table-hover table-sm">
                          <caption class="table-title">Best performing players</caption>
                          <thead class="thead-inverse">
                            <tr>
                              <th>Summoner</th>
                              <th>Rank</th>
                              <th>Rating</th>
                              <th>Winrate</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for player in best_players %}
                                <tr>
                                  <td>{{ player.name }}</td>
                                  <td>{{ player.currRank }}</td>
                                  <td>2</td>
                                  <td>50%</td>
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if best_offmeta_champs %}
                    <div class="col table-wrapper">
                        <table class="table table-hover table-sm">
                          <caption class="table-title">Best off-meta Picks</caption>
                          <thead class="thead-inverse">
                            <tr>
                              <th>Role</th>
                              <th>Champ</th>
                              <th>Rating</th>
                              <th>Winrate</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for champ,stats in best_offmeta_champs.items() %}
                                <tr>
                                    <td>{{ stats["role"] }}</td>
                                    <td>{{ stats["name"] }}</td>
                                    {% if stats["rating"] > 0.8 %}
                                        <td class="good">{{ stats["rating"] }}</td>
                                    {% else %}
                                        <td class="bad">{{ stats["rating"] }}</td>
                                    {% endif %}
                                    {% if stats["wr"] >= 50 %}
                                        <td class="good">{{ stats["wr"] }}</td>
                                    {% else %}
                                        <td class="bad">{{ stats["wr"] }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
      <footer class="footer">
        <div class="container">
          <span>Scryer's Analytics isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</span>
        </div>
      </footer>
    </body>
</html>