{% extends "layout.html" %}

{% block title %}
    Scryer's Analytics
{% endblock %}

{% block body %}

<div style="text-align:center">
    <h1>Win or Lose</h1>
    {% if name and region %}
        <h1>Summoner Name: {{ name }}</h1>
        <img src={{ profile_icon }} style="align:left">
        <h1>Region: {{ region }}</h1>
        <h2>Level: {{ lvl }}</h2>
        {% if league %}
            {% if league["tier"] == "Master" and league["tier"] == "Challenger" %}
                <img src="/static/rank_icons/base-icons/{{ league['tier'] }}.png" style="align:left">
            {% else %}
                <img src="/static/rank_icons/tier-icons/{{ league['tier'] }}_{{ league['player']['rank'] }}.png" style="align:left">
            {% endif %}
            <h2>Rank: {{ league["div_name"] }} - {{ league["tier"] }} 
                {{ league["player"]["rank"] }} {{ league["player"]["leaguePoints"] }} LP</h2>
            <h3>Wins: {{ league["player"]["wins"] }} | Losses: {{ league["player"]["losses"] }}</h3>
        {% else %}
            <h2> Rank: Unranked </h2>
        {% endif %}
        {% if matches %}
        <table class="table table-hover">
            <tbody>
            {% for match in matches %}
                {% if loop.index <= 10 %}
                    <tr class="match {{ match['result'] }}">
                {% else %}
                    <tr class="match {{ match['result'] }} moreMatches">     
                {% endif %}               
                        <td class="col-md-1">
                            <ul class="info">
                                <li class="q">{{ match["queue"] }}</li> 
                                <li><span class="label label-info">{{ match["result"].upper() }}</span></li>
                                <li class="duration">{{ match["gameDuration"]//60 }}:{{ match["gameDuration"]%60 }}</li>
                                <li class="date">{{ match["gameCreation"] }}</li>
                            </ul>
                        </td>
                        <td class="col-md-4">
                            <div class="col-md-8 champIcon">
                                <img src={{ match["participants"][match["place"]]["champ_img"] }}>
                            </div>
                            <div class="col-md-4 spells">
                                <img class="spellIcon" src={{ match["participants"][match["place"]]["spell1_img"] }}>
                                <img class="spellIcon" src={{ match["participants"][match["place"]]["spell2_img"] }}>
                            </div>        
                        </td>
                        <td class="col-md-2 acc">
                            <img class="keystone" src={{ match["participants"][match["place"]]["keystone_img"] }}>
                            <img class="trinket" src={{ match["participants"][match["place"]]["item6_img"] }}>
                        </td>
                        <td class="col-md-3">
                            <div class="items row">
                                <img src={{ match["participants"][match["place"]]["item0_img"] }}>
                                <img src={{ match["participants"][match["place"]]["item1_img"] }}>
                                <img src={{ match["participants"][match["place"]]["item2_img"] }}>
                            </div>
                            <div class="items row">
                                <img src={{ match["participants"][match["place"]]["item3_img"] }}>
                                <img src={{ match["participants"][match["place"]]["item4_img"] }}>
                                <img src={{ match["participants"][match["place"]]["item5_img"] }}>
                            </div>
                        </td>
                        <td class="col-md-2">
                            <div class="row">
                                {{ match["participants"][match["place"]]["stats"]["kills"] }} / 
                                {{ match["participants"][match["place"]]["stats"]["deaths"] }} / 
                                {{ match["participants"][match["place"]]["stats"]["assists"] }}
                            </div>
                            <div class="row">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </div>
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <button type="submit" id="more">Show More</button>
        {% else %}
            <h2>No recent ranked matches discovered.</h2>
        {% endif %}
        <br />
        {% if icon %}
            <img src={{ icon }}>
        {% endif %}

    {% else %}
        <h1>Error! Summoner {{ name }} not found</h1>
    
    {% endif %}
    <br />
    <a href="/">Back</a>

</div>
{% endblock %}