{% extends "layout.html" %}

{% block title %}
LOL app
{% endblock %}

{% block body %}

<div style="text-align:center">
    <h1>Win or Lose</h1>
    {% if name and region %}
        <h1>Summoner Name: {{ name }}</h1>
        <img src={{ profile_icon }}>
        <h1>Region: {{ region }}</h1>
        <h2>Level: {{ lvl }}</h2>
        {% if league %}
            <h2>Rank: {{ league["div_name"] }} - {{ league["tier"] }} 
                {{ league["player"]["rank"] }} {{ league["player"]["leaguePoints"] }} LP</h2>
            <h3>Wins: {{ league["player"]["wins"] }} | Losses: {{ league["player"]["losses"] }}</h3>
        {% else %}
            <h2> Rank: Unranked </h2>
        {% endif %}
        {% if matches %}
            {% for match in matches %}
                {% if loop.index <= 10 %}
                    <p>{{ match["kills"] }}/{{ match["deaths"] }}/{{ match["assists"] }}</p>
                    <p>{{ match["queue"] }}</p>
                    <img src = {{ match["champ"] }}>
                    <img src = {{ match["spell1"] }} style="align:left">
                    <img src = {{ match["spell2"] }} style="align:left">
                {% else %}
                    <div class="moreMatches">
                        <p>{{ match["kills"] }}/{{ match["deaths"] }}/{{ match["assists"] }}</p>
                        <img src = {{ match["champ"] }}>
                        <img src = {{ match["spell1"] }} style="align:left">
                        <img src = {{ match["spell2"] }} style="align:left">
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit" id="more">Show More</button>
        {% else %}
            <h2>Summoner inactive for too long. No recent matches available</h2>
        {% endif %}
        <br />
        {% if icon %}
            <img src={{ icon }}>
        {% endif %}

    {% else %}
        <h1>Error! Summoner {{ name }} not found</h1>
    
    {% endif %}
    <br />
    <a href="/">Back</a>

</div>
{% endblock %}