<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/xregexp.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <script src="https://use.fontawesome.com/5a5fd64e5c.js"></script>
    <!-- Optional theme -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{
      url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" type="image/png" href="/static/imgs/orb-icon-16.png" class="rounded-circle"/>
    <title>Scryer's Analytics</title>
  </head>
  <body background="/static/imgs/background.jpg">
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
          <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navLinks" aria-controls="navLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/static/imgs/orb.png" width="30" height="30" alt="scrying-orb-icon" class="rounded-circle">
            Scryer's Analytics
          </a>
          <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('teams_stats') }}">Team Stats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('all_champs_stats') }}">Champ Stats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('faq') }}">FAQ</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container" id="home-content">
            <div id="landing">
                <div id="title">
                    <h1 style="color:white">Scryer's Analytics</h1>
                </div>
                <div class="row">
                    <form id="search-form"  class="my-2 my-lg-0" action="{{ url_for('get_data') }}" method="POST">
                        <div class="row" id="main-search-cont">
                            <div class="col">
                                <div class="input-group">
                                    <input type="text" class="form-control mr-sm-2" name="name" maxlength="16" id="main-search" list="datalist" size="32" placeholder="Summoner or Champ name..." autocomplete="off">
                                    <datalist id="datalist"></datalist>
                                    <button class="btn btn-secondary my-2 my-sm-0" type="submit" id="search-button">Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        <ul class=flashes style="padding:0; margin:2px">
                                        {% for message in messages %}
                                          <li id="invalidName">{{ message }}</li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="btn-group" data-toggle="buttons">
                                  <label class="btn btn-primary active region">
                                    <input type="radio" name="region" id="option1" autocomplete="off" value="NA" checked>NA
                                  </label>
                                  <label class="btn btn-primary region">
                                    <input type="radio" name="region" id="option2" autocomplete="off" value="EUW">EUW
                                  </label>
                                  <label class="btn btn-primary region">
                                    <input type="radio" name="region" id="option2" autocomplete="off" value="EUNE">EUNE
                                  </label>
                                  <label class="btn btn-primary region">
                                    <input type="radio" name="region" id="option2" autocomplete="off" value="BR">BR
                                  </label>
                                  <label class="btn btn-primary region">
                                    <input type="radio" name="region" id="option3" autocomplete="off" value="KR">KR
                                  </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" id="opening-tables">
                {% if best_champs %}
                    <div class="col-md-3 table-wrapper" style="border-right: 1.5px solid black;">
                        <table class="table table-hover table-sm">
                          <caption class="table-title">Best performing Champions</caption>
                          <thead class="thead-inverse">
                            <tr>
                              <th>Role</th>
                              <th>Champ</th>
                              <th>Rating</th>
                              <th>Winrate</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for champ in best_champs %}
                                <tr>
                                    <td>{{ champ["role"] }}</td>
                                    <td>{{ champ["name"] }}</td>
                                    {% if champ["rating"] > 0.8 %}
                                        <td class="good">{{ champ["rating"] }}</td>
                                    {% else %}
                                        <td class="bad">{{ champ["rating"] }}</td>
                                    {% endif %}
                                    {% if champ["wr"] >= 50 %}
                                        <td class="good">{{ champ["wr"] }}</td>
                                    {% else %}
                                        <td class="bad">{{ champ["wr"] }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if best_players %}
                    <div class="col-md-6 table-wrapper" style="border-right: 1.5px solid black;">
                        <table class="table table-hover table-sm">
                          <caption class="table-title">Best performing players</caption>
                          <thead class="thead-inverse">
                            <tr>
                              <th>Summoner</th>
                              <th>Region</th>
                              <th>Rank</th>
                              <th>Rating</th>
                              <th>Winrate</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for player,data in best_players.items() %}
                                <tr>
                                  <td>{{ data["name"] }}</td>
                                  <td>{{ data["player"].champs.region }}</td>
                                  <td>{{ data["rank"]["tier"] }} - {{ data["rank"]["player"]["rank"] }}</td>
                                  <td>{{ '%0.2f'| format(data["player"].performance/data["player"].plays) }}</td>
                                  <td>{{ '%0.2f'| format((data["player"].wins/(data["player"].plays))*100) }}%</td>
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if best_offmeta_champs %}
                    <div class="col-md-3 table-wrapper">
                        <table class="table table-hover table-sm">
                          <caption class="table-title">Best off-meta Picks</caption>
                          <thead class="thead-inverse">
                            <tr>
                              <th>Role</th>
                              <th>Champ</th>
                              <th>Rating</th>
                              <th>Winrate</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for champ in best_offmeta_champs %}
                                <tr>
                                    <td>{{ champ["role"] }}</td>
                                    <td>{{ champ["name"] }}</td>
                                    {% if champ["rating"] > 0.8 %}
                                        <td class="good">{{ champ["rating"] }}</td>
                                    {% else %}
                                        <td class="bad">{{ champ["rating"] }}</td>
                                    {% endif %}
                                    {% if champ["wr"] >= 50 %}
                                        <td class="good">{{ champ["wr"] }}</td>
                                    {% else %}
                                        <td class="bad">{{ champ["wr"] }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
      <footer class="footer">
        <div class="container">
          <span>Scryer's Analytics isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</span>
        </div>
      </footer>
    </body>
</html>