{% extends "layout.html" %}

{% block title %}
LOL app
{% endblock %}

{% block body %}
<div style="text-align:center">
    <h1>Win or Lose</h1>
    <form action="{{ url_for('get_data') }}" method="POST">
        Summoner Name: <input name="name" type="text"/>
        <br/>
        Region:
        <select name="region">
            <option value="NA1">North America</option>
            <option value="EUW1">Europe West</option>
            <option value="EUN1">Europe Nordic East</option>
            <option value="KR">Korea</option>
        </select>
        <br/>
        <input type="submit" value="GO"/>
    </form>
</div>
{% endblock %}